.hero-section {
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: 
    /* linear-gradient(rgba(64, 64, 64, 0.9), rgba(0, 0, 0, 0.1)), */
    url("../img/HeroBackground.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}

.hero-section p {
    font-size: 35px;
    color: #6C1E28;
    background-color: #FDECCE;
    /* opacity: 50%; */
    padding: 8px 10px;
    border-radius: 20px;
    text-align: center;
}

@media (max-width: 1024px) {
    .hero-section p {
        font-size: 28px;
    }
}

@media (max-width: 768px) {
    .hero-section p {
        font-size: 24px;
        padding: 8px 5px;
    }
}

@media (max-width: 640px) {
    .hero-section p {
        font-size: 22px;
        padding: 4px 10px;
        margin: 20px;
        border-radius: 15px;
    }
}

@media (max-width: 480px) {
    .hero-section{
        height: 85vh;
    }
}

@media (max-width: 365px) {
    .hero-section p {
       font-size: 17px; 
    }
}